#drag-ghost {
  background: white;
  transition: all 200ms ease-out;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  display: none;
}

#drag-folder-icon:before {
  font-family: "Material Icons";
  content: '\e2c7'
}
