@font-face {
  font-family: 'namefontlight';
  src: url('./assets/fonts/SF-Pro-Display-Light.otf');
  src: url('./assets/fonts/SF-Pro-Display-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'namefontregular';
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'namefontmedium';
  src: url('./assets/fonts/SF-Pro-Display-Medium.otf');
  src: url('./assets/fonts/SF-Pro-Display-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'namefontbold';
  src: url('./assets/fonts/SF-Pro-Display-Bold.otf');
  src: url('./assets/fonts/SF-Pro-Display-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'namefontsemibold';
  src: url('./assets/fonts/SF-Pro-Display-Semibold.otf');
  src: url('./assets/fonts/SF-Pro-Display-Semibold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-size: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  outline: none;
}

body,
ul,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}

table,
td,
th {
  border-collapse: collapse;
  border: 1px solid #515152;
}

h1,
h2,
h3,
h4,
em {
  font-style: normal;
  font-size: 100%;
  font-weight: 400;
}

img,
input,
textarea {
  border: 0;
  vertical-align: middle;
}

a {
  outline: none;
  text-decoration: none;
}

header,
footer,
article,
main,
section {
  display: block;
}

html, body {
  font-family: 'namefontregular', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 26px;
  letter-spacing: 0px;
  color: #24272b;
  background: #f0f4f6;

  /* Not allow user to select text*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
